/* RESET */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, a, article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    /* Cancel out some differences between browser defaults */
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

* {
    /* The width of an element will be the size of its border box, not its content box (which is the normal default). */
    box-sizing: border-box;
}

main {
    /* Make sure the browser knows how to display the HTML5 main element. */
    display: block;
}


/* LAYOUT */

.container {
    width: 71.3rem;
    padding: 0 1.3rem;
    margin: 0 auto;
}

.navbar,
nav ul {
    display: flex;
}

.navbar {
    justify-content: space-between;
    padding-top: 3rem;
    padding-bottom: 0.5rem;
}

#intro,
#services,
#team,
#skills,
#portfolio,
#testimonial,
#contact {
    text-align: center;
    padding-top: 7rem;
    padding-bottom: 7.7rem;
}

#intro {
    padding-bottom: 9.6rem;
}

.row {
    display: flex;
    align-items: baseline;
}

.column {
    flex-basis: 18rem;
    padding: 0 1rem;
    margin: 0 1rem;
}


/* TYPOGRAPHY */

body {
    font-family: 'Roboto', sans-serif;
}

p {
    line-height: 1.5;
}

.header-brand {
    font-family: 'Lobster', cursive;
    font-size: 3em;
    margin-left: 2.6rem;
}

.intro-text {
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 3rem;
    line-height: normal;
}

button {
    font-size: 1em;
    text-transform: uppercase;
}

.section-title {
    font-size: 2.5em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.18rem;
    padding-bottom: 1rem;
    position: relative;
    margin-bottom: 1rem;
}

.section-title::after {
    content: "";
    border-bottom: 0.3rem solid rgba(0, 0, 0, 0.16);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 5.2rem;
}

.section-lead {
    margin-bottom: 5rem;
}

.service-name {
    font-size: 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 1rem;
}


/* COLOUR SCHEME & BORDERS */

header,
#intro {
    background-color: #87509c;
    color: #fff;
}

#services {
    background-color: #17c2a4;
    color: #fff;
}

#team {
    background-color: #e7f1f8;
    color: #3c4761;
}

#skills {
    background-color: #fff;
    color: #3c4761;
}

#portfolio {
    background-color: #ffdd99;
    color: #393939;
}

#testimonial {
    background-color: #d74680;
    color: #fff;
}

#contact {
    background-color: #3c5499;
    color: #fff;
}

button {
    color: #fff;
    padding: 1.5rem 5rem;
    border: none;
    border-radius: 0.3rem;
    border-bottom: 0.3rem solid rgba(0, 0, 0, 0.16);
}

.work-with-us {
    background-color: #eb7d4b;
}


/* NAVIGATION */

nav ul {
    list-style-type: none;
    margin-right: 0.5rem;
}

nav a {
    display: block;
    padding: 0.5rem 1rem;
    margin: 0.7rem 0 0 0.62rem;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 0.3rem;
    color: #fff;
}

.selected,
nav a:hover {
    background-color: #643a79;
}


/* IMAGES & VIDEOS */

.service-icon {
    margin-bottom: 3rem;
}


/* MEDIA QUERIES */
