/* RESET */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, a, article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    /* Cancel out some differences between browser defaults */
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

* {
    /* The width of an element will be the size of its border box, not its content box (which is the normal default). */
    box-sizing: border-box;
}

main {
    /* Make sure the browser knows how to display the HTML5 main element. */
    display: block;
}


/* LAYOUT */

.container {
    width: 71.3rem;
    padding: 0 1.3rem;
    margin: 0 auto;
}

.navbar,
nav ul {
    display: flex;
}

.navbar {
    justify-content: space-between;
    padding-top: 3rem;
    padding-bottom: 0.5rem;
}

#intro,
#services,
#team,
#skills,
#portfolio,
#testimonial,
#contact {
    text-align: center;
    padding-top: 7rem;
    padding-bottom: 7.7rem;
}

#intro {
    padding-bottom: 9.6rem;
}

.row {
    display: flex;
    align-items: baseline;
}

.column {
    flex-basis: 18rem;
    padding: 0 1rem;
    margin: 0 1rem;
}

.social ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
}


/* TYPOGRAPHY */

body {
    font-family: 'Roboto', sans-serif;
}

p {
    font-weight: 300;
    line-height: 1.5;
}

.header-brand {
    font-family: 'Lobster', cursive;
    font-size: 3em;
    margin-left: 2.6rem;
}

.intro-text {
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 3rem;
    line-height: normal;
}

button {
    font-size: 1em;
    text-transform: uppercase;
}

.section-title {
    font-size: 2.5em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.18rem;
    padding-bottom: 1rem;
    position: relative;
    margin-bottom: 1rem;
}

.section-title::after {
    content: "";
    border-bottom: 0.3rem solid rgba(0, 0, 0, 0.16);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 5.2rem;
}

.section-lead {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 5rem;
}

h3 {
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
}

.service-name {
    margin-bottom: 1rem;
}

.member-name {
    margin-bottom: 0.4rem;
}

h5 {
    font-weight: 400;
    margin-bottom: 1.4rem;
}

.member-text {
    margin-bottom: 1.6rem;
}

.social-icon {
    display: block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #bdd1df;
    color: #fff;
    padding-top: 0.5rem;
    margin: 0 0.4rem;
}


/* COLOUR SCHEME & BORDERS */

header,
#intro {
    background-color: #87509c;
    color: #fff;
}

#services {
    background-color: #17c2a4;
    color: #fff;
}

#team {
    background-color: #e7f1f8;
    color: #3c4761;
}

#team h5 {
    color: #30bae7;
}

#skills {
    background-color: #fff;
    color: #3c4761;
}

#portfolio {
    background-color: #ffdd99;
    color: #393939;
}

#testimonial {
    background-color: #d74680;
    color: #fff;
}

#contact {
    background-color: #3c5499;
    color: #fff;
}

button {
    color: #fff;
    padding: 1.5rem 5rem;
    border: none;
    border-radius: 0.3rem;
    border-bottom: 0.3rem solid rgba(0, 0, 0, 0.16);
}

.work-with-us {
    background-color: #eb7d4b;
}


/* NAVIGATION */

nav ul {
    list-style-type: none;
    margin-right: 0.5rem;
}

nav a {
    display: block;
    padding: 0.5rem 1rem;
    margin: 0.7rem 0 0 0.62rem;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 0.3rem;
    color: #fff;
}

.selected,
nav a:hover {
    background-color: #643a79;
}


/* IMAGES & VIDEOS */

.service-icon {
    margin-bottom: 3rem;
}

.portrait {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    background-color: #878787;
    margin: 0 auto 2rem auto;
}

.pie {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: #dfe8ed;
    margin: 0 auto 1.7rem auto;
    position: relative;
}

.pie::before {
    content: '';
    display: block;
    margin-left: 50%;
    height: 100%;
    border-radius: 0 100% 100% 0 / 50%;
    transform-origin: left;
}

.pie::after {
    content: '';
    display: block;
    width: 84%; height: 84%;
    border-radius: 50%;
    background-color: #fff;
    margin: auto;
    position: absolute;
    top: 8%; left: 8%;
}

.pie-web-design {
    background-image: linear-gradient(to right, transparent 50%, #30bae7 0);
}

.pie-web-design::before {
    background-color: #30bae7;
    transform: rotate(.4turn);
}

.pie-html-css {
    background-image: linear-gradient(to right, transparent 50%, #d74680 0);
}

.pie-html-css::before {
    background-color: #d74680;
    transform: rotate(.25turn);
}

.pie-graphic-design {
    background-image: linear-gradient(to right, transparent 50%, #15c7a8 0);
}

.pie-graphic-design::before {
    background-color: #15c7a8;
    transform: rotate(.2turn);
}

.pie-ui-ux {
    background-image: linear-gradient(to right, transparent 50%, #eb7d4b 0);
}

.pie-ui-ux::before {
    background-color: #eb7d4b;
    transform: rotate(.35turn);
}

.skills-pie {
    position: relative;
}

.percentage {
    position: absolute;
    top: 3.3rem; left: 5.4rem;
    font-size: 3.1rem;
    font-weight: 300;
}

.percentage::after {
    content: '%';
    font-family: monospace;
    font-size: 2.5rem;
    font-weight: 300;
}


/* MEDIA QUERIES */
